*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 550px;
  height: 250px;
  border: 1px solid black;
  background-color: whitesmoke;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.quoteCard{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: calc(550px - 2rem);
  gap: 1rem;
  padding-right: 2rem;
}

.btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: none;
  /* background-color: rgb(252, 250, 148); */
  margin-left: 27rem;
  margin-top: 1.5rem;
}

span.author{
  font-weight: bold;
  align-self: flex-end;
  font-style: italic;
}

.fa-quote-left{
  font-size: 3rem;
  align-self: flex-start;
}